:root {
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Koulen", sans-serif;
    --color-primary: #03FFF0;
    --color-secondary: #9003FF;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

body {
    background-color: var(--color-black);
}